<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)"/>
  <arg name="gui" default="true"/>
  <arg name="map_file" default="$(find raicom_nav)/maps/task1_map.yaml"/>
  <arg name="rviz" default="true"/>
  <arg name="auto_start" default="true"/>
  <arg name="start_delay" default="20"/>
  <arg name="rviz_config_tmp" default="/tmp/raicom_task3_zu_nav.rviz"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <param name="robot_description"
         command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro"/>

  <node pkg="gazebo_ros"
        type="spawn_model"
        name="spawn_turtlebot3"
        args="-urdf -model turtlebot3_$(arg model) -x 0 -y 0 -z 0 -param robot_description"/>

  <node pkg="raicom_nav"
        type="spawn_arena.py"
        name="spawn_arena_walls"
        args="--mode walls"
        output="screen"/>

  <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
    <arg name="map_file" value="$(arg map_file)"/>
    <arg name="open_rviz" value="false"/>
  </include>

  <node pkg="rviz"
        type="rviz"
        name="rviz"
        args="-d $(arg rviz_config_tmp)"
        launch-prefix="bash -c 'cp $(find raicom_nav)/rviz/task3_zu_nav.rviz $(arg rviz_config_tmp); exec $0 $@'"
        if="$(arg rviz)"/>

  <node pkg="raicom_nav"
        type="write_zu_nav.py"
        name="write_zu_nav"
        args="--start-delay $(arg start_delay) --set-initial-pose"
        output="screen"
        if="$(arg auto_start)"/>
</launch>
